body {
    background-color: #fff;
    color: #fff;
}

.container-fluid .navbar {
    background-color: #e4e4e4 !important;
}

h4, h5, h6, p, #hero-text h5 {
    color: #070606;
}

.navbar .navbar-brand, 
.navbar .navbar-brand:focus, 
.navbar .navbar-brand:hover,
h1, h2, h3, a, .btn, 
.p-bar p,
.dropdown-menu > li > a,
.navbar-light .navbar-nav .nav-link, 
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav > .active > a,
.navbar-light .navbar-nav > .active > a:focus, 
.navbar-light .navbar-nav > .active > a:hover,
.contact-info .card .fas {
    color: #070606;
}

.navbar-light .navbar-nav .nav-link {
    opacity: 0.75;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
    opacity: 1;
}

.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
    color: #080808;
    opacity: 1;
}

nav li.active {
    border: 1px solid #636363;
}

.controls button {
    color: #8a8a8a;
}

.footer-info {
    border-top: 1px solid #262626;
}

footer a:hover {
    color: #101010;
}

.p-bar {
    border-bottom: 2px solid #050505;
}

.form-control {
    color: #fff;
    background-color: #252525;
    border: 1px solid #252525;
}

.form-control:focus, .form-control:hover, .form-control:active {
    color: #fff;
    background-color: #212121;
    border-color: #80bdff;
}

.contact-info .card {
    background-color: #212121;
}

.contact a, .form-control {
    color: #f4f4f4;
}

.controls button:hover, .controls button.mixitup-control-active {
    border: 1px solid #121111;
    color: #100f0f;
}
.contact a, .form-control {
    font-weight: 400;
}

.form-control::placeholder {
    color: #c9c9c9;
}